apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-deployment
  labels:
    app: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql
        image: mysql:8.4
        ports:
          - containerPort: 3306
        env:
          - name: MYSQL_DATABASE
            value: skills
          - name: MYSQL_USER
            value: skills
          - name: MYSQL_PASSWORD
            value: Skills1234!
          - name: MYSQL_ROOT_PASSWORD
            value: Skills1234!
        volumeMounts:
          - name: mysql-storage
            mountPath: /var/lib/mysql
      volumes:
        - name: mysql-storage
          persistentVolumeClaim:
            claimName: mysql-data-pvc
