apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deployment
  namespace: database
  labels:
    app: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:16
        ports:
        - containerPort: 5432
        env:
          - name: POSTGRES_DB
            value: skills
          - name: POSTGRES_USER
            value: skills
          - name: POSTGRES_PASSWORD
            value: Skills1234!
        volumeMounts:
          - name: postgres-storage
            mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-data-pvc